.nav{
    font-family: 'Ranchers', cursive;
    font-size: medium;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main{
    flex: 1 0 auto;
  }
#card1{
    font-family: 'Ranchers', cursive;
}
#icons1{
    font-size: large;
}
span{
    color: black;
    font-family: 'Ranchers', cursive;
    font-size: xx-large;
}
#manzir{
    font-style: italic;
    font-family: 'Ranchers', cursive;
}
.reserve{
    font-family: 'Ranchers', cursive;
}